@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,700;1,800&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0 auto;
    max-width: 1440px;
    font-size: 12px;
    background-color: #fff;
}
a {
    text-decoration: none;
    transition: all 0.5s ease;
}
a > svg *{
    transition: all 0.5s ease;
}
h1 {
    font-family: "Prata", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
}
h2 {
    font-family: "Prata", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
h3 {
    font-family: "Prata", serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}
.icon { 
    width: 50px; 
    height: 50px;
    margin: .5em;
  }
.top {
    position: fixed;
    height: 40px;
    background: #FF6869;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 1440px;
    z-index: 998;
}
.top__link {
    height: 20px;
    align-items: center;
    margin: 5px 0 0 15px;
    color: #fff;
}
.arrow-right {
    margin-left: 7px;
    stroke: white;
}
.top__link:hover {
    color: #28292f;
}
.top__link:hover > svg *{
    stroke: #28292f;
}
header {      
    padding-top: 40px;
}
.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #efeded;
}
.header-contacts-nav {
    margin: 0 auto;
}
header ul {
    display: flex;
    justify-content: center;
}
header li {
    display: inline;
}
.header__link {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #28292f;
}
.header__link:hover {
    color: #ff6869;
}
.header__link:hover > svg *{
    stroke: #FF6869;
}
.header__link_tel {
    margin-left: 40px;
    font-weight: 600;
}
.header-contacts-buttons {
    margin-right: 44px;
    margin-left: -140px;
}
.header__link_manager {   
    font-weight: 600;
    text-transform: uppercase;
}
.arrow-down {
    margin-left: 7px;
    stroke: #28292F;
}
.accont_svg{
    stroke: #28292F;
}
.header-content {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.header-content-search {
    display: flex;
    margin-left: 42px;
}
.header-content-search__input{
    font-size: 12px;
    color: #a9a9a9;
    margin: 3px 0 0 13.5px;
    border: none;
    height: 18px;
}
.logo {
    margin-left: 65px;
}
.header-content-account {
    margin-right: 20px;
}
.account {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.account:hover > svg *{
    stroke: #FF6869;
  }
.main-menu {
    position: relative;
    display: flex;
    justify-content: center;
}
.main-menu a:hover {
    color: #ff6869;
}
.main-menu__btn {
    align-items: center;
    font-family: "Prata", serif;
    font-size: 14px;
    font-weight: 400;
    color: #28292f;
    height: 20px;    
    padding: 0 20px;
    border-left: 1px solid #efeded;
}
.main-menu__btn:first-child {
    border-left: 0;
}
.main-menu__drop {
    visibility: hidden;
    position: absolute;
    z-index: 888;
    top: 30px;
    display: flex;
    background-color: #fff;
    width: 1440px;
    height: 480px;
}
.main-menu__btn:hover .main-menu__drop {
    visibility: visible;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.drop-column {
    display: flex;
    flex-direction: column;
    margin: 60px 30px 0 60px;
    max-width: 222px;
}
.drop-column h4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.drop-column a {
    font-size: 12px;
    line-height: 18px;    
    letter-spacing: 0.01em;
    color: #28292F;
    margin-bottom: 10px;
}
.drop-caregory {
    background: url("img/drop/img_category_menu.jpg");
    width: 300px;
    height: 400px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.drop-caregory-frame {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 45px;
    width: 170px;
    height: 49px;
    margin-bottom: 20px;
}
.drop-caregory-frame a {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #28292F;
    margin-top: 5px;
}
.banner {
    display: flex;
    align-items: center;
    margin: 15px 40px 120px 40px;
    height: 470px;
    background: url("img/banner/image62.jpg") no-repeat;
}
.frame {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.frame_banner {
    font-size: 14px;
    font-weight: 400;
    width: 290px;
    height: 220px;
    margin-left: 60px;
    padding: 40px 60px 40px 40px;
}
.frame span {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.frame p {
    margin: 25px 0;
}
.frame__button {
    color: #28292f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #EFEDED;
    border-radius: 2px;
    text-transform: uppercase;
}
.frame__button:hover {
    color: #ff6869;
}
.frame__button_banner {
    width: 168px;
    height: 42px;
}

.products-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}
.products-menu__btn {
    font-family: "Prata", serif;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    height: 20px;    
    padding: 0 20px;
}
.products-menu__square {
    margin-top: 8px;
    width: 4px;
    height: 4px;
    background: #a9a9a9;
}
.products-menu__btn:hover {
    color: #28292f;
    border-color: #28292f;
}
.products-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 131px;
}
.products-content-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
}
.products-content-cart p {
    font-size: 14px;
    text-align: center;
    width: 230px;
    margin: 15px auto;
}
.products-content-cart-labels {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: flex-start;
}
.products-content-cart__label {
    padding: 4px 8px;
    font-family: "Work Sans" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    border-radius: 2px;
    margin-right: 4px;
}
.products-content-cart__label_new {
    background-color: #43B686;
}
.products-content-cart__label_discount {
    background-color: #342B68;
}
.products-content-cart__label_hit {
    background-color: #FD4833;
}
.products-content-cart__label_bio {
    background-color: #4C9C2E;
}
.products-content-cart__label_offer {
    background-color: #EF9E02;
}
.actual-price {
    font-family: "Prata", serif;
    font-size: 20px;
    font-weight: 400;
}
.old-price{
    color: #a9a9a9;
    text-decoration: line-through;
}
.about {
    display: flex;
    flex-direction: column;
    background-color: #f2efec;
    padding-top: 110px;
    margin-bottom: 406px;
    height: 1088px;
}
.about-block {
    display: flex;
    justify-content: space-between;
    width: 1104px;
    margin: 0 auto;
}
.about__heading {
    max-width: 437px;
}
.about__heading hr {
    width: 80px;
    margin-bottom: 70px;
}
.about__menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 402px;
    height: 264px;    
}
.about__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 402px;
}
.about__menu__btn {
    display: block;
    text-align: center;
    width: 80px;
    height: 111px;
    text-transform: uppercase;
    color: #28292f;
}
.about__menu__btn:hover {
    color: #FF6869;
}
.about_svg {
    fill: #28292f;
}
.about__menu__btn:hover > svg *{
    fill: #FF6869;
  }
.about__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 540px;
}
.about__categories_1 {
    background: url("img/about/cateries1.jpg"); 
    width: 1104px;
    height: 460px;
    margin: 100px auto 20px auto;
  }
.about__categories_2 {
    background: url("img/about/categories2.jpg") no-repeat;
    background-size: cover;
}
.about__categories_3 {
    background: url("img/about/categories_3.jpg") no-repeat;
    background-size: cover;
}
.frame_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 146px;
    width: 297px;
    padding: 30px 50px;
}
.frame_about-categories1 {
    height: 170px;
    width: 400px;
    padding: 30px 80px;
}
.frame_about .frame__button {
    padding: 11px 46px;
    margin-top: 25px;
}
.boy-banner {
    display: flex;
    justify-content: space-around;
    background: #AEECE2;
    width: 1360px;
    height: 500px;
    margin: 0 auto;
}
.broderie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 343px;
    width: 370px;
    margin: 78px 0 78px 90px;
}
.broderie span {
    font-family: "Prata", serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}
.broderie p {
    font-size: 14px;
    line-height: 20px;
}
.frame__button_coral {
    color: #fff;
    background-color: #FF6869;
    border: none;
    padding: 11px 46px;
}
.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog hr {
    width: 80px;
    margin-top: 130px;
    margin-bottom: 30px;
}
.blog h1 {
    margin-bottom: 60px;
}
.articles {
    display: flex;
}
.article_new {
    margin-right: 30px;
}
.article__heading_new {
    background-color: #f2efec;
    padding: 30px 30px 40px 35px;
    width: 477px;
    height: 100px;
    margin-top: -5px;
    color: #28292f;
}
.article__heading_new h1 {
    margin: 10px 0 0 0;
}
.articles_old {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 532px;
}
.article_old {
    display: flex;
}
.article__heading_old {
    padding-left: 20px;
    color: #28292f;
}
.article_old:hover {
    background-color: #f2efec;
}
.article_new:hover > .article__heading_new {
    background-color: #dbd7d2;
}
.articles__button {
    height: 40px;
}
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0 150px 0;
}
.community p {
    color: #a9a9a9;
}
.community p cite {
    font-style: normal;
    color: #28292f;
}
.owl-carousel {
    max-width: 1005px;
}
.carousel {
    display: flex;
    align-items: center;
    max-width: 1091px;
}
.owl-carousel__item {
    width: 185px;
    height: 185px;
    cursor: pointer;
}
.owl-carousel__item_hov {
    position: absolute;
    visibility: hidden;
    width: 185px;
    height: 185px;
    background:rgba(255, 255, 255, 0.8);
    font-size:20px;
    top:160px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
}
.owl-carousel__item:hover .owl-carousel__item_hov {
    visibility: visible;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px);
}
.prev_button {
    margin-right: 28px;
    cursor: pointer;
    fill: #a9a9a9;
}
.prev_button:hover {
    fill: #28292f;
}
.next_button {
    margin-left: 28px;
    cursor: pointer;
    fill: #a9a9a9;
}
.next_button:hover {
    fill: #28292f;
}
.advance {
    display: flex;
    margin: 134px auto 150px auto;
}
.advance__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 45px;
    height: 223px;
    max-width: 160px;
    color: #28292f;
}
.advance__btn:first-child {
    max-width: 238px;
}
.advance__btn a {
    color: #28292f;
    margin-top: 20px;
    text-transform: uppercase;
}
.advance__btn:hover > a {
    color: #ff6869;
}
.advance__btn img {
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}
.footer {
    background-color: #f2efec;
    min-height: 613px;
    padding: 81px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__blog {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.footer__blog_read {
    background: url("img/footer/footer_img_blog.jpg");
    width: 457px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 85px;
    margin-right: 20px;
    color: #375955;
}
.footer__blog_read h1 {
    width: 300px;
    margin-bottom: 15px;
}
.footer__blog_read a {
    color: #375955;
}
.footer__blog_subscr {
    background: url("img/footer/footer_img_subscr.jpg");
    width: 444px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 49px;
}
.footer__blog_subscr p {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 25px 0;
}
.footer__blog_subscr form {
    display: flex;
    
}
.footer__blog_subscr .frame__button {
    padding: 11px 30px;
}
.frame__button_coral:hover {
    background-color: #3759557c;
}
.subscr_input {
    background-color: #a9a9a952;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 292px;
    padding-left: 20px;
}
.footer-block {
    display: flex; 
    justify-content: space-between;
    width: 1104px;
    margin: 0 auto;
}
.footer__contacts {   
    display: flex; 
    font-size: 12px;
    line-height: 18px;  
    color: #28292f90;
}
.footer__contacts_hotline {
    height: 170px;
    min-width: 235px;
    border-right: 1px solid #a9a9a9;
}
.hotline-tel {
    font-family: 'Alice', serif;
    font-size: 32px;
    line-height: 32px;  
    color: #28292f90;
}
.footer__contacts_hotline table {
    margin-top: 52px;
}
.footer__contacts_hotline td {
    min-width: 55px;
}
.footer__contacts_about {
    margin: 0 50px;
    display: flex;
}
.footer__contacts_about ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__contacts_about li {    
    min-width: 153px;
}
.footer__contacts a {  
    color: #28292f90;
}
.footer__contacts a:hover {
    color: #ff6869;
}
.footer__adres {
    display: flex;
    flex-direction: column;
    height: 169px;
    max-width: 198px;
}
.footer__adres_email {
    margin: 20px 0 77px 0;
}
.footer__adres-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 108px;
}
.footer__adres-social-icon:hover > svg *{
    fill: #ff6869;
    opacity: 1;
}
.footer__payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer__botom {
    width: 92%;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;    
    color: #28292f90;
}