@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,700;1,800&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 0 auto;
    max-width: 1440px;
    font-size: 12px;
    background-color: #fff;
}
a {
    text-decoration: none;
    transition: all 0.5s ease;
}
a > svg *{
    transition: all 0.5s ease;
}
h1 {
    font-family: "Prata", serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
}
h2 {
    font-family: "Prata", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.top {
    height: 40px;
    background: #FF6869;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.top__link {
    height: 20px;
    align-items: center;
    margin: 5px 0 0 15px;
    color: #fff;
}
.arrow-right {
    margin-left: 7px;
}
.top__link:hover {
    color: #28292f;
}
.top__link:hover > svg *{
    stroke: #28292f;
  }
.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid #efeded;
}
.header-contacts-nav {
    margin: 0 auto;
}
header ul {
    display: flex;
    justify-content: center;
}
header li {
    display: inline;
}
.header__link {
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #28292f;
}
.header__link:hover {
    color: #ff6869;
}
.header__link:hover > svg *{
    stroke: #FF6869;
}
.header__link_tel {
    margin-left: 40px;
    font-weight: 600;
}
.header-contacts-buttons {
    margin-right: 44px;
    margin-left: -140px;
}
.header__link_manager {   
    font-weight: 600;
    text-transform: uppercase;
}
.arrow-down {
    margin-left: 7px;
}
.header-content {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}
.header-content-search {
    display: flex;
    margin-left: 42px;
}
.header-content-search__input{
    font-size: 12px;
    color: #a9a9a9;
    margin: 3px 0 0 13.5px;
    border: none;
    height: 18px;
}
.logo {
    margin-left: 65px;
}
.header-content-account {
    margin-right: 20px;
}
.account {
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.account:hover > svg *{
    stroke: #FF6869;
  }
.main-menu {
    display: flex;
    justify-content: center;
}
.main-menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Prata", serif;
    font-size: 14px;
    font-weight: 400;
    color: #28292f;
    height: 20px;    
    padding: 0 20px;
    border-right: 1px solid #efeded;
}
.main-menu__btn:last-child {
    border-right: 0
}
.banner {
    display: flex;
    align-items: center;
    margin: 15px 40px 120px 40px;
    height: 470px;
    background: url("img/banner/image62.jpg") no-repeat;
}
.frame {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.frame_banner {
    font-size: 14px;
    font-weight: 400;
    width: 290px;
    height: 220px;
    margin-left: 60px;
    padding: 40px 60px 40px 40px;
}
.frame span {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.frame p {
    margin: 25px 0;
}
.frame__button {
    color: #28292f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #EFEDED;
    border-radius: 2px;
    text-transform: uppercase;
}
.frame__button:hover {
    color: #ff6869;
}
.frame__button_banner {
    width: 168px;
    height: 42px;
}

.products-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}
.products-menu__btn {
    font-family: "Prata", serif;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    height: 20px;    
    padding: 0 20px;
}
.products-menu__square {
    margin-top: 8px;
    width: 4px;
    height: 4px;
    background: #a9a9a9;
}
.products-menu__btn:hover {
    color: #28292f;
    border-color: #28292f;
}
.products-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 131px;
}
.products-content-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
}
.products-content-cart p {
    font-size: 14px;
    text-align: center;
    width: 230px;
    margin: 15px auto;
}
.products-content-cart-labels {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: flex-start;
}
.products-content-cart__label {
    padding: 4px 8px;
    font-family: "Work Sans" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    border-radius: 2px;
    margin-right: 4px;
}
.products-content-cart__label_new {
    background-color: #43B686;
}
.products-content-cart__label_discount {
    background-color: #342B68;
}
.products-content-cart__label_hit {
    background-color: #FD4833;
}
.products-content-cart__label_bio {
    background-color: #4C9C2E;
}
.products-content-cart__label_offer {
    background-color: #EF9E02;
}
.actual-price {
    font-family: "Prata", serif;
    font-size: 20px;
    font-weight: 400;
}
.old-price{
    color: #a9a9a9;
    text-decoration: line-through;
}
.about {
    display: flex;
    flex-direction: column;
    background-color: #f2efec;
    padding-top: 110px;
    margin-bottom: 406px;
    height: 1088px;
}
.about-block {
    display: flex;
    justify-content: space-between;
    width: 1104px;
    margin: 0 auto;
}
.about__heading {
    max-width: 437px;
}
.about__heading hr {
    width: 80px;
    margin-bottom: 70px;
}
.about__menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 402px;
    height: 264px;    
}
.about__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 402px;
}
.about__menu__btn {
    display: block;
    text-align: center;
    width: 80px;
    height: 111px;
    text-transform: uppercase;
    color: #28292f;
}
.about__menu__btn:hover {
    color: #FF6869;
}
.about__menu__btn:hover > svg *{
    fill: #FF6869;
  }
.about__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 540px;
}
.about__categories_1 {
    background: url("img/about/cateries1.jpg"); 
    width: 1104px;
    height: 460px;
    margin: 100px auto 20px auto;
  }
.about__categories_2 {
    background: url("img/about/categories2.jpg") no-repeat;
    background-size: cover;
}
.about__categories_3 {
    background: url("img/about/categories_3.jpg") no-repeat;
    background-size: cover;
}
.frame_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 146px;
    width: 297px;
    padding: 30px 50px;
}
.frame_about-categories1 {
    height: 170px;
    width: 400px;
    padding: 30px 80px;
}
.frame_about .frame__button {
    padding: 11px 46px;
    margin-top: 25px;
}
.boy-banner {
    display: flex;
    justify-content: space-around;
    background: #AEECE2;
    width: 1360px;
    height: 500px;
    margin: 0 auto;
}
.broderie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 343px;
    width: 370px;
    margin: 78px 0;
}
.broderie span {
    font-family: "Prata", serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}
.broderie p {
    font-size: 14px;
    line-height: 20px;
}
.broderie .frame__button {
    color: #fff;
    background-color: #FF6869;
    border: none;
    padding: 11px 46px;
}
.footer {
    background-color: #f2efec;
    height: 719px;
}